name: "trade-assembly"
description: "Sample assembly file"

labels:
  region: "nyc" 

tables:
  trade:
    description: Trade data
    type: partitioned
    blockSize: 10000
    prtnCol: time
    sortColsOrd: sym
    sortColsDisk: sym
    columns:
      - name: time
        description: Time
        type: timestamp    
      - name: sym
        description: Symbol name
        type: symbol
        attrMem: grouped
        attrDisk: parted
        attrOrd: parted
      - name: price
        description: Price
        type: float    
      - name: size
        description: Size
        type: long      

  quote:
    description: Quote data
    type: partitioned
    blockSize: 10000
    prtnCol: time
    sortColsOrd: sym
    sortColsDisk: sym
    columns:
      - name: time
        description: Time
        type: timestamp    
      - name: sym
        description: Symbol name
        type: symbol
        attrMem: grouped
        attrDisk: parted
        attrOrd: parted
      - name: bid
        description: bid price
        type: float    
      - name: ask
        description: bid price
        type: float   
      - name: bsize
        description: bid price
        type: long  
      - name: asize
        description: bid price
        type: long                  

  ohlcv:
    description: ohlcv aggregation
    type: partitioned
    blockSize: 10000
    prtnCol: time
    sortColsOrd: sym
    sortColsDisk: sym
    columns:
      - name: time
        description: Time
        type: timestamp   
      - name: sym
        description: Symbol name
        type: symbol
        attrMem: grouped
        attrDisk: parted
        attrOrd: parted 
      - name: open
        description: open price
        type: float    
      - name: high
        description: high price
        type: float   
      - name: low
        description: low price
        type: float  
      - name: close
        description: close price
        type: float  
      - name: volume
        description: volume
        type: long   

  vwap:
    description: vwap aggregation
    type: partitioned
    blockSize: 10000
    prtnCol: time
    sortColsOrd: sym
    sortColsDisk: sym
    columns:
      - name: time
        description: Time
        type: timestamp    
      - name: sym
        description: Symbol name
        type: symbol
        attrMem: grouped
        attrDisk: parted
        attrOrd: parted
      - name: vwap
        description: vwap
        type: float    
      - name: accVol
        description: volume
        type: long 

bus:
  stream:
    protocol: tp
    nodes: tp:5010
    topic: dataStream

mounts:
  rdb:
    type: stream
    baseURI: file://stream
    partition: none
  idb:
    type: local
    baseURI: file:///data/idb
    partition: ordinal
  hdb:
    type: local
    baseURI: file:///data/hdb
    partition: date

elements:
  dap:
    # gwAssembly: sgrc:5060 
    # gwEndpoints: sgrc:5060  
    # lateData: true  
    smEndpoints: sm:10001
    instances:
      dap:
        mountList: [rdb, idb, hdb]
      RDB:
        mountName: rdb
      IDB:
        mountName: idb
      HDB:
        mountName: hdb

  sm:
    description: Storage manager
    source: stream
    tiers:
      - name: stream
        mount: rdb
      - name: idb
        mount: idb
        schedule:
          freq: 00:10:00      # every 10 minutes
      - name: hdb1
        mount: hdb
        store: file:///data/hdb1
        schedule:
          snap: 00:00:00      # EOD at midnight     
        retain: 
          time: 1 days
      - name: hdb2
        mount: hdb
        store: file:///data/hdb2
        retain: 
          time: 1 year
    disableDiscovery: true    # Disables registering with discovery